:root {
    --color-primary: #f53838;
    --color-black: #0b132a;
    --color-gray: #4f5665;
    --color-gray-light: #eeeff2;
    --color-light: #fff;
    --color-pink: #ffecec;
    --rediew-slider: calc((100vw - 1220px) / 2);
}
