.features {
    background: var(--color-light);
    padding-top: 100px;
    padding-bottom: 115px;
    &__container {
        display: flex;
        justify-content: space-between;
        @include tablet {
            flex-wrap: wrap;
        }
    }
    &__bgs {
        flex: 0 1 60%;
        img {
            transform: translate(31px, -2px);
        }
        @include tablet {
            flex: 0 1 100%;
            order: 2;
            display: flex;
            justify-content: center;
            img {
                max-width: 100%;
                transform: translate(0, 0);
            }
        }
    }
    &__desc {
        flex: 0 1 37.7%;
        padding-top: 52px;

        @include tablet {
            flex: 0 1 100%;
            padding-top: 50px;
            order: 1;
            h2 {
                text-align: center;
            }
        }
    }

    &__text {
        width: 95%;
        padding-top: 21px;
    }

    &__list {
        padding-top: 20px;
    }

    @include tablet {
        &__title {
            text-align: center;
        }
    }
}
