.header {
    width: 100%;
    padding: 45px 0;
    background-color: var(--color-light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    @include tablet {
        padding: 20px 0;
    }
    &__container {
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        transform: translate(-2px, 0px);
    }
    &__nav {
        margin-left: 48px;
        @include tablet {
            margin-left: 0px;
        }
    }
    &__buttons {
        @include tablet {
            display: none;
        }
        &.mobile {
            position: fixed;
            display: flex;
            justify-content: space-between;
            width: 90%;
            bottom: 20px;
            left: 5%;
            z-index: 6;
        }
    }
    &__btn {
        padding-left: 45px;
        padding-right: 45px;
        &:first-of-type {
            padding-right: 26px;
        }
    }
}
