.hero {
    background: var(--color-light);
    padding-top: 70px;
    padding-bottom: 78px;
    @include mobile {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    &__container {
        @include minitablet {
            flex-wrap: wrap;
        }
    }

    &__desc {
        flex: 0 1 50%;
        @include container {
            flex: 0 1 60%;
        }
        @include minitablet {
            flex: 0 1 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        @include mobile {
            min-height: calc(100vh - 80px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__bg-img {
        flex: 0 1 50%;
        position: relative;
        display: flex;
        @include container {
            flex: 0 1 40%;
            align-items: flex-end;
        }

        @include minitablet {
            flex: 0 1 100%;
            margin-top: 50px;
        }
        img {
            transform: translate(65px, -28px);
            @include container {
                transform: translate(0, 0);
            }

            @include tablet {
                max-width: 100%;
                object-fit: contain;
            }
        }

        @include mobile {
            display: none;
        }
    }

    &__title {
        padding-bottom: 20px;
        @include mobile {
            font-size: 35px;
            line-height: 45px;
        }
    }

    &__btn {
        margin-top: 50px;
    }
}
