.location {
    padding-top: 53px;
    background: #fbfbfb;
    padding-bottom: 100px;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        @include title;
        margin-bottom: 20px;
    }
    &__description {
        @include title;
    }
    &__map {
        margin-top: 150px;
        transform: translate(37px, 5px);
    }
}
