.map {
    width: 100%;
    max-width: 1160px;
    height: 538px;
    background-image: url(../img/map.webp);
    background-repeat: no-repeat;

    @include container {
        background-image: url(../img/map-mobile.webp);
        height: auto;
        background-size: contain;
    }
    &__pin {
        position: absolute;
        border-radius: 50%;
        background-color: var(--color-light);
        z-index: 1;
        cursor: pointer;
        border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
        box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.2);
        @include container {
            display: none;
        }
        &::after {
            content: "";
            width: 80%;
            height: 80%;
            border-radius: 50%;
            top: 10%;
            left: 10%;
            position: absolute;
            border: 2px var(--color-primary) solid;
            background-color: var(--color-light);
            z-index: 2;
        }

        &::before {
            content: "";
            width: 30%;
            height: 30%;
            position: absolute;
            top: 35%;
            left: 35%;
            border-radius: 50%;
            background-color: var(--color-primary);
            z-index: 3;
        }

        &--moskow {
            width: 20px;
            height: 20px;
            top: 123px;
            left: 620px;
            animation: pin-run 1s linear infinite;
        }

        &--london {
            width: 26px;
            height: 26px;
            top: 101px;
            left: 541px;
            animation: pin-run 1.2s linear infinite;
        }

        &--frankfurt {
            width: 18px;
            height: 18px;
            top: 165px;
            left: 561px;
            animation: pin-run 0.8s linear infinite;
        }
        &--new-york {
            width: 14px;
            height: 14px;
            top: 190px;
            left: 270px;
            animation: pin-run 1.3s linear infinite;
        }
        &--los-angeles {
            width: 22px;
            height: 22px;
            top: 201px;
            left: 175px;
            animation: pin-run 1.4s linear infinite;
        }
        &--brasilia {
            width: 24px;
            height: 24px;
            top: 380px;
            left: 340px;
            animation: pin-run 1s linear infinite;
        }

        &--sidney {
            width: 24px;
            height: 24px;
            top: 414px;
            left: 933px;
            animation: pin-run 1.2s linear infinite;
        }

        &--shanghai {
            width: 20px;
            height: 20px;
            top: 223px;
            left: 842px;
            animation: pin-run 0.8s linear infinite;
        }
    }
}
