.reviews-slider {
    &__items {
        justify-content: space-between;
    }

    &__item {
        width: 340px;
        padding: 27px 28px 19px 28px;
        flex-shrink: 0;
        @include mobile {
            width: 260px;
            padding: 27px 10px 19px 10px;
        }
    }

    &__pagination {
        position: absolute;
        display: flex;
        bottom: 31px;
        left: 0px;
        .swiper-pagination-bullet {
            position: relative;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background-color: #dde0e4;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            margin-right: 15px;
            &:last-of-type {
                margin-right: 0px;
            }
        }

        .swiper-pagination-bullet-active {
            width: 45px;
            background-color: var(--color-primary);
            transition: all 0.3s ease-in-out;
        }

        @include container {
            left: 20px;
        }

        @include mobile {
            left: 50%;
            transform: translateX(-50%);
            bottom: 80px;
        }
    }

    &__buttons {
        display: flex;
        position: absolute;
        bottom: 9px;
        right: 20px;

        @include mobile {
            right: 50%;
            bottom: 0px;
            transform: translateX(50%);
        }
    }

    &__button {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px var(--color-primary) solid;
        border-radius: 60px;
        background-color: var(--color-light);
        fill: var(--color-primary);
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            transition: 0.2s ease-in-out;
            background-color: var(--color-primary);
            fill: var(--color-light);
            box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
        }

        &:first-of-type {
            margin-right: 20px;
        }
    }
}
