.reviews {
    padding-bottom: 50px;
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__slider-container {
        position: relative;
        margin-top: 59px;
        padding-bottom: 117px;
        overflow: hidden;
        @include container {
            padding: 0px 20px;
            padding-bottom: 117px;
        }
    }
    &__title {
        @include title;
    }

    &__description {
        @include title;
        padding-top: 21px;
    }
}
