.subscribe {
    position: relative;
    margin-top: -72px;
    transform: translateY(50%);
    @include container {
        padding: 20px;
    }
    &__container {
        max-width: 1150px;
        padding: 58px 73px;
        background-color: var(--color-light);
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-radius: 10px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
            background: #0d1025;
            opacity: 0.06;
            filter: blur(33px);
        }

        @include tablet {
            padding: 58px 40px;
        }
        @include minitablet {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }
    &__title {
        flex: 0 1 50%;
        h2 {
            line-height: 46px;
            margin-bottom: 8px;
        }
        @include minitablet {
            flex: 0 1 100%;
            margin-bottom: 30px;
        }
    }
    &__btn {
        text-align: center;
    }
}
